#toast-container {
  top: 30px;
  right: 30px;
}

/* .profile-container {
  width: 50vw;
  margin: 70px auto;
}

@media only screen and (max-width: 1200px) {
  .profile-container {
    width: 70vw;
    margin: 70px auto;
  }
}

@media only screen and (max-width: 960px) {
  .profile-container {
    width: 90vw;
    margin: 70px auto;
  }
} */
